.main-content {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin: 10px;


}

.main-half {

  display: grid;
  grid-template-columns: 1fr;
  
  background-color: rgb(235, 235, 235);
  border-radius: 25px;
  width: 90%;
}
.inner {
  justify-self: center;
}